<form action='/form/intellectual' method='POST'>
	<textarea class='form-control' name='intl'> </textarea>
	<button type='submit' class='btn btn-primary'> Submit </button>
</form>

<form action='/form/sociallife' method='POST'>
	<textarea class='form-control' name='sl'> </textarea>
	<button type='submit' class='btn btn-primary'> Submit </button>
</form>

<form action='/form/work'  method='POST'>
	<textarea class='form-control' name='wrk'> </textarea>
	<button type='submit' class='btn btn-primary'> Submit </button>
</form>

<form action='/form/intimacy' method='POST'>
	<textarea class='form-control' name='intmcy'> </textarea>
	<button type='submit' class='btn btn-primary'> Submit </button>
</form>

<form action='/form/exercise' method='POST'>
	<textarea class='form-control' name='ex'> </textarea>
	<button type='submit' class='btn btn-primary'> Submit </button>
</form>

<form action='/form/mentalhealth' method='POST'>
	<textarea class='form-control' name='mh'> </textarea>
	<button type='submit' class='btn btn-primary'> Submit </button>
</form>