<div class='container-fluid'>

	<div id='1' class='row'>
		<div id='title' class='col-md-12'>
			<div>
				<h1> What is Self Care? </h1>
				<blockquote>"The right and responsibility to take care of your physical, emotional, and spiritual well-being."- Pauline Salvucci</blockquote> 
				<img class='img-circle img-responsive' id='desk' src='http://graphics8.nytimes.com/images/2013/09/22/magazine/22well/22well-superJumbo-v2.jpg'/>
			</div>
			<div><h3> and why does it matter? </h3></div>
			<blockquote> Have you ever felt like you do, say, and feel things you don't understand? We all have a variety of human needs that range from basic material needs -- food, shelter, safety, sleep -- to less material ones like self expression, acceptance, empathy. All constitute the driving force behind our decisions and actions, whether or not we are concious of them at the time. Understanding and working with our needs, instead of ignoring and/or rejecting them, frees up emotional and physical energy to live. Self care is less about vegan meditation yoga mountain retreats (but if that's your thing, no worries) and more about seeking balance every day, and prioritizing your mental and physical health.</blockquote>
		</div>
	</div>
