<h1 id='title'> Balance Me </h1>
<br>
<h3>Self-care: The right and responsibility to take care of your physical, emotional, and spiritual well-being. - Pauline Salvucci </h3>
<br>

<h4> Basic material needs: food, shelter, safety, sleep and more intangible ones: authenticity, self-expression, acceptance, empathy, stability. </h4>

<h4> Being aware of our needs can free amount of a huge headspace to focus on 

<h4> By not practicing self-care, we tend to say and do things we don't understand </h4>


