<div ng-app='balanceMe'>
	<div ng-controller='IPCtrl' class='box'>
		<p>Intellectual pursuits </p>
		Hey {{name}}
	</div>

	<div class='box'>
		<p>Exercise/Food </p>
	</div>

	<div class='box'>	
		<p>Social Life </p>
	</div>

	<div class='box'>
		<p>Mental Health </p>
	</div class='box'>

	<div class='box'>
		<p>Work </p>
	</div>

	<div class='box'>
		<p>Intimacy</p>
	</div>

	<br>
	<a href="/">&larr; Back home</a>
</div>